body {
  background-color: #121212;
  font-family: "Ubuntu";
}

.main {
  overflow-x: hidden;
}

.section {
  height: 100vh;
  width: 100vw;
}

.brand_img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  
}

.section_first {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  background-size: 100vw 100vh;
}

.section_second {
  z-index: 0;
  background: linear-gradient(to bottom, #1e1e1e, #383636);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.jumbo h1 > h6 {
  text-align: center;
}

.jumbo h1 {
  font-size: 80px;
}

.jumbo h1 > span {
  color: #c80024;
}

.jumbo p,
h1 {
  font-size: 30px;
}

.jumbo {
  width: 100%;
  text-align: center;
  font-family: "Alegreya", sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-background-clip: text;
  background-clip: text;
  color: #fffafa;
}

.progress_header {
  font-family: "Lobster";
  font-size: 30px;
  height: 100%;
}

.schedule_header {
  font-family: "Lobster";
  font-size: 30px;
  height: 100%;
}

.section_schedule {
  background: linear-gradient(to bottom, #1e1e1e, #383636);
}
.schedule {
  font-size: 10px;
  color: #fefefe;
  background: "#1e1e1e";
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.event {
  color: black;
  height: 50px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  background: linear-gradient(to bottom, #383636, #000000);
  width: 100%;
}

.location_map {
  border-radius: 20px 20px;
}

.projects {
  width: 100%;
  height: 100vh;
}

.zproject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.schedule_img {
  width: 40px;
  height: 50px;
  margin-bottom: 5px;
}


.location_img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.project_header {
  justify-self: top;
  height: 25%;
  color: whitesmoke;
  font-size: 70px;
  width: 100%;
  font-family: "Lobster";
  border: 0.5px solid white;
  background: #383636;
  border-radius: 20px 20px 0px 0px;
}

.project_description {
  font-size: auto;
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  width: 50%;
}

.participant {
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: Courier;
}

.participant > label {
  margin: 0;
}
.participant_img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  padding: 5px;
}

.project_participants {
  justify-self: flex-end;
  font-size: auto;
  width: 100%;
}

.project_participants__label {
  margin: 0;
  font-family: monospace;
  background: #383636;
  width: 100%;
  color: white;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 200px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 200px;
}

.lang {
  max-width: 500px;
  width: 100px;
  height: 100px;
}

.progress_set {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  font-size: 20px;
  text-align: right;
  background: #1e1e1e;
}

.navbar-toggler {
  border: none;
}

.loading {
  align-self: center;
}

.canvas {
  position: absolute;
  height: 100%;
  top: 50px;
  left: 0;
  width: 50px;
}

@media screen and (max-width: 500px) {
  .jumbo h1 {
    font-size: 55px;
    margin-top: 50px;
  }

  .jumbo {
    margin: 0;
  }

  .section_second {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: stretch;
    height: 100%;
  }

  .project_description {
    font-size: 13px;
    width: auto;
    height: auto;
    padding: 5px;
  }

  .project_header {
    font-size: 50px;
    height: auto;
  }

  .participant {
    justify-content: space-evenly;
  }

  .participant_img {
    padding: 2px;
  }
  .right,
  .left {
    margin: 10px;
  }
}
